# Dataset Description

Dataset has three CSV files with data between 2013 - 2021 for 87 countries.

average_after_tax_wages.csv - Average after-tax wages in the country
average_monthly_internet.csv - Average monthly internet costs in the country
GDP_per_capita.csv - GDP per capita of the country

The 4th CSV; internet_adoption.csv  is from 2013 to 2020. 2021 is absent. Submitters probably are looking for some estimation for 2021 from the other three CSVs.

internet_adoption.csv - Internet adoption as a percent

Data Source: Data comes from data.WorldBank.org and Numbeo.com

In [39]:
import pandas as pd
import numpy as np

In [30]:
df_1 = pd.read_csv('internet_adoption.csv')
df_2 = pd.read_csv('average_after_tax_wages.csv')
df_3 = pd.read_csv('average_monthly_internet.csv')
df_4 = pd.read_csv('GDP_per_capita.csv')

In [31]:
print(df_1.head())
print(df_2.head())
print(df_3.head())
print(df_4.head())

     Country   2020   2019   2018   2017   2016   2015  2014   2013
0    Albania  72.24  68.55  65.40  62.40  59.60  56.90  54.3  51.80
1    Algeria  62.90  57.90  49.04  47.69  42.95  38.20  29.5  22.50
2  Argentina  85.50  79.90  77.70  74.30  71.00  68.00  64.7  59.90
3  Australia  89.60  88.60  87.60  86.55  86.54  84.56  84.0  83.45
4    Austria  87.53  87.75  87.48  87.94  84.32  83.94  81.0  80.62
     Country     2021     2020     2019     2018     2017     2016     2015  \
0    Albania   487.28   398.64   369.95   366.49   330.31   290.66   303.18
1    Algeria   260.71   274.11   283.83   267.48   318.82   303.40   341.54
2  Argentina   390.07   524.48   604.28   762.75   930.02   899.58  1039.06
3  Australia  4171.74  3495.24  3221.55  3422.99  3232.62  3218.02  3272.23
4    Austria  2467.97  2429.99  2178.91  2308.15  2099.12  2081.52  1941.60

      2014     2013
0   428.00   414.40
1   435.69   370.55
2  1132.70   980.44
3  4002.54  4194.33
4  2544.10  2636.76
     Country   2021   2020   2019   2018   2017   2016   2015   2014   2013
0    Albania  20.52  20.20  21.54  22.56  18.77  17.11  15.98  21.79  21.75
1    Algeria  40.05  47.51  23.47  26.09  39.27  39.60  38.23  35.51  36.41
2  Argentina  23.88  29.12  32.30  46.08  48.05  37.14  42.57  32.47  35.19
3  Australia  58.17  50.21  50.94  55.10  54.91  51.51  53.35  66.85  64.26
4    Austria  43.05  36.28  35.06  35.35  27.07  23.98  22.55  27.00  26.08
     Country       2021       2020       2019       2018       2017  \
0    Albania   6,494.40   5,332.20   5,396.20   5,287.70   4,531.00
1    Algeria   3,765.00   3,306.90   3,989.70   4,142.00   4,109.70
2  Argentina  10,729.20   8,585.70  10,076.40  11,795.20  14,613.00
3  Australia  59,934.10  51,680.30  54,875.30  57,180.80  53,934.30
4    Austria  53,267.90  48,588.70  50,114.40  51,486.60  47,429.20

        2016       2015       2014       2013  Unnamed: 10  Unnamed: 11  \
0   4,124.10   3,952.80   4,578.60   4,413.10          NaN          NaN
1   3,946.50   4,177.90   5,493.10   5,499.60          NaN          NaN
2  12,790.20  13,789.10  12,334.80  13,080.30          NaN          NaN
3  49,881.80  56,707.00  62,511.70  68,156.60          NaN          NaN
4  45,307.60  44,195.80  51,786.40  50,731.10          NaN          NaN

   Unnamed: 12  Unnamed: 13  Unnamed: 14
0          NaN          NaN          NaN
1          NaN          NaN          NaN
2          NaN          NaN          NaN
3          NaN          NaN          NaN
4          NaN          NaN          NaN

In [32]:
df_1.isnull().sum()

Country    0
2020       0
2019       0
2018       0
2017       0
2016       0
2015       0
2014       0
2013       0
dtype: int64

In [33]:
df_2.isnull().sum()

Country    0
2021       0
2020       0
2019       0
2018       0
2017       0
2016       0
2015       0
2014       0
2013       0
dtype: int64

In [34]:
df_3.isnull().sum()

Country    0
2021       0
2020       0
2019       0
2018       0
2017       0
2016       0
2015       0
2014       0
2013       0
dtype: int64

In [35]:
df_4.isnull().sum()

Country         0
2021            0
2020            0
2019            0
2018            0
2017            0
2016            0
2015            0
2014            0
2013            0
Unnamed: 10    87
Unnamed: 11    87
Unnamed: 12    87
Unnamed: 13    87
Unnamed: 14    87
dtype: int64

In [36]:
df_4.columns

Index(['Country', '2021', '2020', '2019', '2018', '2017', '2016', '2015',
       '2014', '2013', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14'],
      dtype='object')

In [37]:
drop_columns = ['Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14']
df_4 = df_4.drop(drop_columns, axis=1)

In [38]:
print(df_1.info())
print(df_2.info())
print(df_3.info())
print(df_4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  87 non-null     object
 1   2020     87 non-null     float64
 2   2019     87 non-null     float64
 3   2018     87 non-null     float64
 4   2017     87 non-null     float64
 5   2016     87 non-null     float64
 6   2015     87 non-null     float64
 7   2014     87 non-null     float64
 8   2013     87 non-null     float64
dtypes: float64(8), object(1)
memory usage: 6.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  87 non-null     object
 1   2021     87 non-null     float64
 2   2020     87 non-null     float64
 3   2019     87 non-null     float64
 4   2018     87 non-null     float64
 5   2017     87 non-null     float64
 6   2016     87 non-null     float64
 7   2015     87 non-null     float64
 8   2014     87 non-null     float64
 9   2013     87 non-null     float64
dtypes: float64(9), object(1)
memory usage: 6.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  87 non-null     object
 1   2021     87 non-null     float64
 2   2020     87 non-null     float64
 3   2019     87 non-null     float64
 4   2018     87 non-null     float64
 5   2017     87 non-null     float64
 6   2016     87 non-null     float64
 7   2015     87 non-null     float64
 8   2014     87 non-null     float64
 9   2013     87 non-null     float64
dtypes: float64(9), object(1)
memory usage: 6.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  87 non-null     object
 1   2021     87 non-null     object
 2   2020     87 non-null     object
 3   2019     87 non-null     object
 4   2018     87 non-null     object
 5   2017     87 non-null     object
 6   2016     87 non-null     object
 7   2015     87 non-null     object
 8   2014     87 non-null     object
 9   2013     87 non-null     object
dtypes: object(10)
memory usage: 6.9+ KB
None

In [40]:
print(df_1.describe())
print(df_2.describe())
print(df_3.describe())
print(df_4.describe())

             2020       2019       2018       2017       2016       2015  \
count   87.000000  87.000000  87.000000  87.000000  87.000000  87.000000
mean    79.490805  76.376437  73.389655  70.669195  68.106552  64.930115
std     17.395551  18.992841  20.186109  20.981216  21.831175  22.835606
min     24.800000  17.070000  15.340000  13.780000  12.390000  11.000000
25%     72.105000  68.755000  64.790000  62.010000  58.205000  53.170000
50%     84.600000  81.100000  79.130000  76.010000  73.300000  69.850000
75%     91.115000  89.520000  87.885000  86.910000  84.385000  83.715000
max    100.000000  99.700000  99.650000  98.260000  98.240000  98.200000

            2014       2013
count  87.000000  87.000000
mean   62.499655  59.883563
std    23.540385  24.177945
min    10.000000   6.630000
25%    48.450000  45.850000
50%    64.710000  62.100000
75%    82.795000  80.310000
max    98.160000  96.550000
              2021         2020         2019         2018         2017  \
count    87.000000    87.000000    87.000000    87.000000    87.000000
mean   1578.715402  1400.959655  1358.948046  1343.145402  1324.202184
std    1406.426012  1224.061436  1133.412642  1118.679599  1111.119190
min     231.260000   191.820000   207.760000   175.520000   155.520000
25%     482.640000   448.055000   472.655000   450.950000   448.260000
50%    1003.850000   907.000000   914.440000   925.680000   896.860000
75%    2873.185000  2445.165000  2340.085000  2294.830000  2335.260000
max    7023.070000  6276.630000  5613.730000  5423.690000  5381.410000

              2016         2015         2014         2013
count    87.000000    87.000000    87.000000    87.000000
mean   1292.636667  1307.076092  1465.377241  1438.346437
std    1067.240749  1092.637544  1216.770207  1245.572505
min     174.550000   183.180000   150.910000   182.520000
25%     436.155000   498.410000   531.310000   515.265000
50%     810.010000   874.310000   985.970000   857.560000
75%    2111.145000  2139.915000  2463.170000  2332.640000
max    5381.960000  5927.930000  6710.390000  5982.820000
             2021       2020        2019       2018       2017       2016  \
count   87.000000  87.000000   87.000000  87.000000  87.000000  87.000000
mean    36.919885  34.538851   35.848046  35.971954  33.497816  31.534023
std     19.992007  18.683299   19.366969  18.934581  17.472907  16.379197
min      5.990000   5.630000    5.030000   4.570000   3.990000   3.380000
25%     21.070000  20.100000   21.145000  21.990000  18.695000  18.035000
50%     36.100000  31.400000   32.780000  34.340000  31.730000  30.010000
75%     47.585000  46.245000   47.065000  45.410000  45.415000  42.145000
max    100.090000  97.420000  102.370000  99.120000  95.260000  88.310000

            2015       2014       2013
count  87.000000  87.000000  87.000000
mean   32.390460  35.799080  36.578966
std    16.850803  17.772335  17.718922
min     3.870000   5.900000   8.790000
25%    20.320000  22.100000  24.425000
50%    29.170000  32.470000  32.850000
75%    42.625000  46.905000  46.580000
max    85.020000  85.020000  92.550000
        Country      2021      2020      2019      2018      2017      2016  \
count        87        87        87        87        87        87        87
unique       87        87        87        87        87        87        87
top     Albania  6,494.40  5,332.20  5,396.20  5,287.70  4,531.00  4,124.10
freq          1         1         1         1         1         1         1

            2015      2014      2013
count         87        87        87
unique        87        87        87
top     3,952.80  4,578.60  4,413.10
freq           1         1         1

In [42]:
# Remove commas in values in GDP_per_capita table

columns = df_4.columns[1:]
for column in columns:
    df_4[column] = df_4[column].str.replace(',', '')
    # convert the columns to float
    df_4[column] = df_4[column].astype('float')

In [ ]:
# Define a function that gives changes in values  different years 

def change_